.contaier-calendar{
    width: 100%;
}

.container-MonthWeek {
    background-color: #8db600;
    width: 98%;
    padding-top: 0.5rem;
}

.icon-calendar {
    font-size: 1.5rem;
    cursor: pointer;
}