.preview {
    width: 30rem;
    height: auto;
    font-size: 0.9rem;
}

.calendar {
    font-size: 0.5rem;
    width: 10rem;
    height: auto;
}

.calendar h5{
    font-size: 0.7rem;
    margin: 0;
}
.calendar .profile {
    width: 2rem;
    height: 2rem;
    margin-left: 2rem;
}

.calendar .username {
    margin-left: -1rem;
}

.calendar h3 {
    font-size: 0.8rem;
}

.calendar .left-bottom {
    margin-left: -1rem;
}

.calendar .bottom {
    display: none;
}

.calendar .comment {
    margin-right: 0.5rem;
    margin-left:0.5rem;
}