.LoginTitle{
    background-color: #8db600;
    color: white;
    width: 30rem;
    padding: 0.4rem;
    margin: auto;
    border-radius: 5px;
    font-weight: bold;
}

.EmailInput, .PasswordInput{
    display: flex;
    justify-content: center;
}

.emailLabel{
    margin-left: 24rem;
}

.passwordLabel{
    margin-left: 25rem;
}

.InputE, .InputP{
    width: 27rem;
    border-radius: 5px;
    border: 1px solid #a5a7a7;
}

.LoginButton{
    font-weight: bold;
    border-radius: 5px;
    background-color: #1b2f33;
    color: white;
    width: 30rem;
    padding: 0.5rem;
    margin: auto;
}

.linkRegister{
    font-weight: bold;
    border-radius: 5px;
    background-color: white;
    color: #1b2f33;
    border: 2px solid #1b2f33;
    width: 30rem;
    padding: 0.1rem;
    margin: auto;
}

.GoogleLogo, .InstagramLogo, .TwitterLogo, .LinkedinLogo, .FacebookLogo{
    color: #ffffff;
    background: #1b2f33;
    padding: 0.5rem;
    font-size: 2rem;
    border-radius: 40px;
    width: 4rem;
    height: 4rem;
    margin: 1rem;
    }