.LoginTitle{
    background-color: #8db600;
    color: white;
    width: 30rem;
    padding: 0.5rem;
    margin: auto;
    border-radius: 5px;
    font-weight: bold;
}

.EmailInput, .PasswordInput{
    display: flex;
    justify-content: center;
}

.InputE, .InputP{
    width: 27rem;
    border: 1px solid rgb(207, 207, 207);
}

.LoginButton{
    font-weight: bold;
    border-radius: 5px;
    background-color: #1b2f33;
    color: white;
    width: 30rem;
    padding: 0.5rem;
}

.linkRegister{
    color: #1b2f33;
    background-color: white;
    border: 2px solid #1b2f33;
    border-radius: 5px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-weight: bold;
    padding-left: 2.7rem;
    padding-right: 2.7rem;
}

.InstagramLogo, .TwitterLogo, .LinkedinLogo, .FacebookLogo{
    color: #ffffff;
    background: #1b2f33;
    padding: 1rem;
    font-size: 2rem;
    border-radius: 40px;
    width: 4rem;
    margin: 1rem;
    }