.postit {
    background-color: #E2EDC1;
    height: auto;
    width: 15rem;
      box-shadow: 1px 7px 8px #888888;
}

.icons-calendar {
    cursor: pointer;
}

.calendar-pin {
    font-size:2rem;
    color: #8DB600;
}