.NewUserTitle{
    background-color: #8db600;
    color: white;
    width: 30rem;
    padding: 0.5rem;
    margin: auto;
    border-radius: 5px;
    font-weight: bold;
}

.EmailInput, .PasswordInput, .UsernameInput{
    display: flex;
    justify-content: center;
}

.InputE, .InputP, .InputU{
    width: 27rem;
    border: 1px solid rgb(207, 207, 207);
}

.RegisterButton{
    font-weight: bold;
    border-radius: 5px;
    background-color: #1b2f33;
    color: white;
    width: 30rem;
    padding: 0.5rem;
}

.TermsConditionsPrivacy{
    color: #1b2f33;
    background-color: white;
    font-weight: bold;
    font-size: 0.85rem;
}

#TermsConditionsPrivacy{
    margin-right: 1rem;
    background-color: #1b2f33;
}

.InstagramLogo, .TwitterLogo, .LinkedinLogo, .FacebookLogo{
    color: #8db600;
    background: #1b2f33;
    padding: 1rem;
    font-size: 2rem;
    border-radius: 40px;
    width: 4rem;
    margin: 1rem;
    }